.loaderWrap {
  width: 100%;
  height: 100svh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c8c192;
}

.loaderWrapDark {
  background-color: #426e6d;
}

.loader {
  display: block;
  width: 76px;
  height: 76px;
  background: url('../../assets/svg/favicon.svg');
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
