.errorContWrap {
  width: 100%;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c8c3c1;
}

.errorCont {
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;

  &_img {
    max-width: 640px;
    border-radius: 30px;
  }

  &_stack {
    font-size: 10px;
  }
}

.simErrorBtn {
  border: 1px solid #59180b;
  background-color: #a01a16;
  color: #f3db62;
  border-radius: 50px;
  padding: 0 8px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 0.2s ease-in;

  &:hover {
    background-color: #461908;
  }
}
