.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 26px;
  max-width: 768px;
  min-width: 450px;

  &_line {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
  }

  &_line-wrap {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_label {
    font-weight: 600;
  }

  &_input {
    padding: 5px 10px;
  }

  &_error {
    font-size: 10px;
    position: absolute;
    top: 34px;
    line-height: 1;
    color: #baf162;
    background-color: #f13939;
    padding: 2px 8px;
    border-radius: 5px;
  }

  &_submit {
    margin-top: 24px;
  }
}

.hook-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 27px;
  max-width: 768px;
  min-width: 450px;

  .hook-form_wrap {
    width: 100%;
    position: relative;
  }

  &_error {
    font-size: 10px;
    position: absolute;
    top: 34px;
    line-height: 1;
    color: #baf162;
    background-color: #f13939;
    padding: 2px 8px;
    border-radius: 5px;
  }

  .hook-form_line {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__label {
      font-weight: 500;
    }

    &__input {
      line-height: 1.15;
      font-family: inherit;
      font-size: 100%;
      padding: 5px;
    }
  }

  .hook-form_line-gender {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hook-form_line-gender__inputs {
      display: flex;
      gap: 8px;
    }
  }
}

.autocomplete_list {
  width: 205px;
  list-style: none;
  padding: 0;
  margin: 0 0 0 auto;
  border: 1px solid #ccc;
  max-height: 150px;
  overflow-y: auto;
  position: absolute;
  right: 0;
  z-index: 10;
  background-color: white;

  .autocomplete_item {
    padding: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in;
  }

  .autocomplete_item:hover {
    background-color: #eee;
  }
}
