@import './normalize';

:root {
  --text-color: #322f30;
}

[data-theme='dark'] {
  --text-color: #e1d960;
}

body {
  font-family: 'Titillium Web';
  font-weight: 400;
  color: var(--text-color);
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100svh;
}

.main {
  width: 100%;
  height: 100svh;
  overflow: auto;
  margin: auto;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #f3e7abcb;
}

.mainDark {
  background-color: #426e6d;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #a15c47;
  border-radius: 100vw;
}
::-webkit-scrollbar-thumb {
  background: #59180b;
  border: 2px solid #59180b;
  border-radius: 100vw;
}

@import '../components/Card/Card.scss';
@import '../components/Card/Checkbox/Checkbox.scss';
@import '../components/CardDetail/CardDetail.scss';
@import '../components/Flyout/Flyout.scss';
@import '../components/Header/header.scss';
@import '../components/Loader/Loader.scss';
@import '../components/Main/mainContent.scss';
@import '../components/NoPhoto/noPhoto.scss';
@import '../components/NotFoundChar/NotFoundChar.scss';
@import '../components/NotFoundPage/NotFoundPage.scss';
@import '../components/SearchBlock/SearchBlock.scss';
@import '../components/ThemeBtn/ThemeBtn.scss';