.form-data {
  width: 100%;

  .h3 {
    margin-bottom: 16px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    list-style-type: none;

    .saved-data {
      width: 250px;
      display: flex;
      flex-direction: column;
      margin: 8px;
      padding: 8px;
      border: 1px solid #ff7070ad;
      border-radius: 10px;
      transition: all 0.3s ease-in;

      .data-wrap {
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        .data_key {
          font-weight: 500;
        }
      }

      .image-cont {
        flex-direction: column;
        align-items: center;
      }
    }
  }
}

.highlight {
  color: rgb(154, 255, 171);
  background-color: #ff7070ad;
}

.link-wrap {
  display: flex;
  gap: 20px;

  .link-left {
    width: 200px;
    text-align: center;
    border: 2px solid #646cff;
    border-left: none;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateX(-15px);
    }

    &::before {
      position: absolute;
      content: '';
      width: 19px;
      height: 2px;
      background: #646cff;
      top: 5.5px;
      left: -16.5px;
      transform: rotate(315deg);
    }

    &::after {
      position: absolute;
      content: '';
      width: 19px;
      height: 2px;
      background: #646cff;
      top: 17px;
      left: -16.5px;
      transform: rotate(45deg);
    }
  }

  .link-right {
    width: 200px;
    text-align: center;
    border: 2px solid #646cff;
    border-right: none;
    position: relative;
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateX(15px);
    }

    &::before {
      position: absolute;
      content: '';
      width: 19px;
      height: 2px;
      background: #646cff;
      top: 5.5px;
      right: -16px;
      transform: rotate(45deg);
    }

    &::after {
      position: absolute;
      content: '';
      width: 19px;
      height: 2px;
      background: #646cff;
      top: 17px;
      right: -16px;
      transform: rotate(315deg);
    }
  }
}
