.header {
  background: #ea7a45;
}

.headerDark {
  background: #2d3c4d;
}

.h1 {
  font-family: 'Anton SC', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  color: #2d3c4d;
}

.h1Dark {
  font-family: 'Anton SC', sans-serif;
  font-weight: 400;
  font-style: italic;
  margin: 0;
  color: #ea7a45;
}
