.flyout {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;

  &_text {
    font-size: 18px;
  }

  &_btn {
    color: #2d3c4d;
    background: #ea7a45;
    border: none;
    padding: 8px 16px;
    border-radius: 7px;
    cursor: pointer;
    transition: all 0.2s ease-in;

    &:hover {
      background: #ea7945bb;
    }
  }

  .dark_btn {
    color: #ea7a45;
    background: #2d3c4d;

    &:hover {
      background: #2d3c4da4;
    }
  }
}
